body {
    background-color: #f7f1ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}
.head h1{
    align-items: center;
    width: 50%;
}

.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
}


.form-container {
    padding: 50px;
    width: 50%;
    
}

h1 {
    font-weight: bold;
    margin-bottom: 20px;
    color: #8a2be2; /* Purple color */
}

input {
    border: 1px solid #ddd;
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
}

button {
    border-radius: 20px;
    border: 1px solid #ff1493; /* Pink color */
    background-color: #ff1493; /* Pink color */
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e0115f; /* Darker pink */
}
